# === Ingestion ===
python-magic
PyMuPDF
python-docx
paddlepaddle>=2.6.1
paddleocr>=2.7.3
Pillow
pdf2image
easyocr

# === Extraction (NLP) ===
spacy
dateparser

# === Retrieval & Embeddings ===
sentence-transformers
chromadb
open_clip_torch
torch

# === RAG / LLM ===
ollama

# === UI ===
streamlit
psutil

# === Data Processing ===
pandas

# === Utilities ===
python-dotenv
